.repo-panel-builds .status-col {
  width: 48px;
}

.repo-panel-builds .building-tag {
  margin-right: 10px;
}

.repo-panel-builds .building-tag .fa {
  margin-right: 6px;
  vertical-align: middle;
}

.repo-panel-builds .heading-controls {
  white-space: nowrap;
}

.repo-panel-builds .trigger-disabled {
  background-color: #fcfcfc;
}

.repo-panel-builds .trigger-disabled td {
  border-bottom: 0px;
  color: #ccc;
}

.repo-panel-builds .trigger-disabled-message {
  font-size: 13px;
}

.repo-panel-builds i.fa-exclamation-triangle {
  color: #f5c77d;
  margin-right: 4px;
}

.repo-panel-builds .trigger-tagging {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
}

.repo-panel-builds .trigger-tagging li {
  padding: 0px;
  margin: 0px;
}

.repo-panel-builds .trigger-tagging li .tag-info {
  display: block;
  max-width: 175px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}