<span class="new-ui-toggle-element">
  <div class="row display-flex">
    <div class="col-md-5 right-padding-0 align-items-center">
      <span>Current UI</span>
    </div>
    <div class="col-md-3 right-padding-0 align-items-center">
      <i class="fa fa-toggle-on" ng-class="$ctrl.newUIIsActive ? 'new-ui-active':'fa-rotate-180 new-ui-inactive'" ng-click="$ctrl.handleToogleClick($event)" />
    </div>
    <div class="col-md-4 right-padding-0 align-items-center">
      <span>New UI</span>&nbsp
    </div>
  </div>

  <div class="co-dialog modal fade" id="newBetaUIModal">
    <div class="modal-dialog">
      <div class="modal-content padding-2percent">
        <div class="modal-header modal-border">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title center-align center-align">
              <i class="info-icon fa fa-lg fa-info-circle beta-ui-info center-align"></i>
              <br/>
              <span class="center-align">
                Try the new Beta Environment
              </span>
            </h4>
        </div>

        <div class="modal-body center-align" style="padding: 20px;">
          Try our Beta Environment. The Beta Environment allows you to interact with new features in an
          active development space. Because beta pre-release software is still being developed, you may encounter bugs
          or flaws in availability, stability, data or performance.
          <br/><br/>
          After you use a feature in beta, you will stay in the Beta Environment until you manually exit the beta
          release. Leave the Beta Environment anytime by clicking the <i>Return to Current UI</i> at the top of the toolbar.
        </div>
        <div>
          <div class="row align-items-center">
            <button class="btn confirm-btn form-control width-25 center-align" ng-click="$ctrl.useNewUI($event)">Use Beta Environment</button>
          </div>
          <div class="row align-items-center">
            <button type="button" class="btn form-control width-25 cancel-btn center-align" data-dismiss="modal" aria-hidden="true">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</span>
