version: 2
updates:
  - package-ecosystem: pip
    directory: /
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
  - package-ecosystem: gomod
    directory: /config-tool
    schedule:
      interval: weekly
    groups:
      k8s:
        patterns:
          - k8s.io/*
          - sigs.k8s.io/*
  - package-ecosystem: npm
    directory: /config-tool/pkg/lib/editor
    schedule:
      interval: weekly
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
