./ci/
conf/stack
conf/stack/**
conf/stack/config.yaml
config.yaml
screenshots
tools
test/data/registry
venv
.venv
.git
!.git/HEAD
.gitignore
.github
Bobfile
README.md
ROADMAP.md
requirements-nover.txt
run-local.sh
.DS_Store
**/*.pyc
.tox
htmlcov
.coverage
coverage
.cache
.npm-debug.log
test/__pycache__
__pycache__
**/__pycache__
static/build/**
.gitlab-ci/*
.gitlab-ci.*
docker-compose.yaml
test/dockerclients/**
node_modules
.local

