*.pyc
venv
screenshots/screenshots/
conf/stack
*/node_modules
dist
dest
node_modules
static/ldn
static/fonts
static/build
stack_local
test/data/registry/
GIT_HEAD
.idea
.python-version
.pylintrc
.coverage
coverage
htmlcov
.tox
.cache
.npm-debug.log
Dockerfile-e
.vscode
*.iml
.DS_Store
.pytest_cache/*
test/dockerclients/Vagrantfile
test/dockerclients/.*
