alembic==1.13.1
aniso8601 @ git+https://github.com/DevTable/aniso8601-fake.git@bd7762c7dea0498706d3f57db60cd8a8af44ba90
APScheduler==3.10.4
attrs==19.3.0
Authlib==1.3.1
aws-sam-translator==1.20.1
azure-core==1.24.0
azure-storage-blob==12.4.0
Babel==2.13.0
bcrypt==3.1.7
beautifulsoup4==4.11.1
bintrees==2.2.0
bitmath==1.3.3.1
blinker==1.6.2
boto3==1.28.61
botocore==1.31.61
cachetools==5.3.3
certifi==2023.7.22
chardet==5.2.0
charset-normalizer==2.0.12
click==8.1.7
cryptography==41.0.6
DateTime==4.3
debtcollector==1.22.0
decorator==5.1.1
Deprecated==1.2.14
dumb-init==1.2.5.post1
elasticsearch==7.6.0
elasticsearch-dsl==7.0.0
Flask==2.3.2
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-Principal==0.4.0
Flask-RESTful==0.3.10
geoip2==3.0.0
gevent==23.9.1
greenlet==2.0.2
grpcio==1.58.0
gunicorn==22.0.0
hashids==1.3.1
importlib-metadata==6.7.0
iso8601==0.1.12
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.4
jmespath==0.9.4
jsonpath-rw==1.4.0
jsonpointer==2.4
jsonschema==3.2.0
kafka-python==1.4.7
keystoneauth1==3.18.0
Mako==1.2.4
MarkupSafe==2.1.3
maxminddb==2.6.2
mixpanel==4.5.0
msgpack==0.6.2
msrest==0.7.1
netaddr==0.7.19
netifaces==0.11.0
oauthlib==3.2.2
orderedmultidict==1.0.1
os-service-types==1.7.0
peewee==3.13.1
pillow==10.3.0
ply==3.11
prometheus-client==0.7.1
protobuf==3.20.3
psutil==5.9.0
psycopg2==2.9.9
pyasn1==0.4.8
pyasn1-modules==0.3.0
py-bitbucket @ git+https://github.com/quay/py-bitbucket.git@3ba167408d92eb4ba2cae78c0047b8f1e8821c67
PyGithub==2.1.1
PyJWT==2.8.0
pymemcache==3.0.0
PyMySQL==1.1.1
pyOpenSSL==23.2.0
pyparsing==2.4.6
pyrsistent==0.18.0
python-dateutil==2.8.1
python-editor==1.0.4
python-gitlab==2.0.0
python-keystoneclient==3.22.0
python-ldap==3.4.3
python-magic==0.4.27
python-redis-lock==3.7.0
python-swiftclient==4.4.0
pytz==2019.3
PyYAML==6.0.1
raven==6.10.0
recaptcha2==0.1
redis==3.5.3
redis-py-cluster==2.1.3
rehash==1.0.1
requests==2.32.2
requests-aws4auth==1.2.3
requests-file==1.5.1
requests-oauthlib==1.3.1
rfc3986==1.3.2
s3transfer==0.7.0
semantic-version==2.10.0
six==1.14.0
soupsieve==1.9.5
splunk-sdk==1.7.4
SQLAlchemy==1.4.49
stevedore==5.1.0
stringscore==0.1.0
stripe==5.5.0
supervisor==4.2.5
supervisor-logging==0.0.9
supervisor-stdout @ git+https://github.com/quay/supervisor-stdout.git@9bdf630d0d1b4a16cf8b60b96adafb1ed98e7380
text-unidecode==1.3
tldextract==2.2.2
toposort==1.10
tzlocal==5.0.1
ua-parser==0.18.0
urllib3==1.26.19
webencodings==0.5.1
WebOb==1.8.6
websocket-client==1.7.0
Werkzeug==3.0.3
xhtml2pdf==0.2.6

# Leverage wheels for faster builds
setuptools==71.1.0
wheel==0.38.4

# Indirect dependencies
PyNaCl==1.5.0
PyPDF3==1.0.6
arabic-reshaper==3.0.0
cffi==1.16.0
cssselect2==0.7.0
furl==2.1.0
html5lib==1.1
idna==3.7
lxml==4.9.3
oslo.config==7.0.0
oslo.i18n==6.2.0
oslo.serialization==5.4.0
oslo.utils==6.2.1
packaging==23.2
pbr==5.11.1
pycparser==2.21
python-bidi==0.4.2
reportlab==3.6.13
svglib==1.5.1
tinycss2==1.2.1
tqdm==4.66.4
typing_extensions==4.8.0
tzdata==2023.3
wrapt==1.13.3
zipp==3.17.0
zope.event==5.0
zope.interface==5.4.0
