black
freezegun==0.3.12
httmock==1.3.0
ipdb
ipython
mock==3.0.5
mockredispy==2.9.3
pytest
pytest-cov
pytest-flask
pytest-runner
pytest-timeout
pytest-xdist
python-coveralls
pytest-sugar
tox
tox-docker
tqdm
