-e git+https://github.com/DevTable/aniso8601-fake.git#egg=aniso8610
-e git+https://github.com/DevTable/container-cloud-config.git#egg=container-cloud-config
-e git+https://github.com/DevTable/python-etcd.git@sslfix#egg=python-etcd
-e git+https://github.com/NateFerrero/oauth2lib.git#egg=oauth2lib
-e git+https://github.com/quay/mockldap.git@4265554a3d89fe39bf05b18e91607bec3fcf215a#egg=mockldap
-e git+https://github.com/coreos/py-bitbucket.git#egg=py-bitbucket
-e git+https://github.com/coreos/resumablehashlib.git#egg=resumablehashlib
-e git+https://github.com/app-registry/appr-server.git@c2ef3b88afe926a92ef5f2e11e7d4a259e286a17#egg=cnr_server  # naming has changed
-e git+https://github.com/DevTable/boto.git@a6a5c00bd199b1492e99199251b10451970b5b08#egg=boto
APScheduler
Flask-Login
Flask-Mail
Flask-Principal
Flask-Testing
PyGithub
aiowsgi
alembic
azure-common
azure-storage-blob
beautifulsoup4
bencode
bintrees
bitmath
boto3
cachetools
cryptography
dumb-init
elasticsearch>=7.0.4,<8.0.0
elasticsearch-dsl>=7.0.0,<8.0.0
flask
flask-restful
geoip2
gevent
gipc
gunicorn
hashids
hiredis
html5lib==0.9999999 # pinned due to xhtml2pdf
httmock
jsonpath-rw
jsonschema
kafka-python
marisa-trie
mixpanel
mock
moto
namedlist
netaddr
pathvalidate
peewee
prometheus-client
psutil
psycopg2-binary
pyasn1
py-bcrypt
pyOpenSSL
pycryptodome
gpg
pyjwkest
pyjwt
pymemcache
pymysql
python-dateutil
python-gitlab
python-keystoneclient
python-ldap
python-magic
python-swiftclient
pyyaml
raven
redis
redlock
reportlab
requests-aws4auth
semantic-version
sqlalchemy
stringscore
stripe
supervisor
supervisor-stdout
supervisor-logging
text_unidecode
tldextract
toposort
tzlocal
xhtml2pdf
recaptcha2
mockredispy
yapf
