.credentials-dialog-element .action-text {
    margin-bottom: 10px;
}

.credentials-dialog-element .action-bar {
    list-style: none;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.credentials-dialog-element .action-bar li {
    display: inline-block;
    margin-right: 20px;
}

.credentials-dialog-element .action-bar li .fa {
    margin-right: 6px;
}


.credentials-dialog-element .viewing-file {
    margin-top: 10px;
    min-height: 200px;
    background: white;
    cursor: text;
    font-family: Consolas, "Lucida Console", Monaco, monospace;
}

.credentials-dialog-element pre {
    margin-top: 20px;
}

.credentials-dialog-element .dialog-title {
    padding-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.credentials-dialog-element .dialog-title-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    white-space: nowrap;
}

.conjoined-box-wrapper input {
    box-shadow: none;
    outline: none;
}

.conjoined-box-wrapper {
    border: 1px solid #999;
    border-radius: 4px;
}

.conjoined-box-wrapper .conjoined-box-top .copy-container {
    border: none;
    margin: 5px;
}

.conjoined-box-wrapper .conjoined-box-bottom .copy-container {
    border: none;
    margin: 5px;
    border-top: 1px solid #999;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Ensure content is bounded unless small screen */
@media screen and (min-width: 768px) {
    .credentials-dialog .co-tab-content {
        width: 62%;
    }
}
