.external-login-button i.fa {
  margin-right: 4px;
  width: 24px;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
}

.external-login-button img {
  margin-right: 4px;
  width: 24px;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
}