.feedback-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 50;
  overflow: hidden;
  text-align: center;
  height: 42px;
  pointer-events: none;
}

@keyframes flow-down-up {
    0%   {
      top: -40px;
    }

    25%  {
      top: 0px;
    }

    75%  {
      top: 0px;
    }

    100% {
      top: -40px;
    }
}

.feedback-bar-element {
  position: relative;
  top: -40px;

  text-align: center;
  display: inline-block;

  animation-name: flow-down-up;
  animation-duration: 5s;
}

.feedback-bar-element .co-alert {
  margin: 0px;

  border-top: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.feedback-bar-element .co-alert:before {
  top: 5px !important;
}

.feedback-bar-element .co-alert .feedback-text i {
  display: inline-block;
  margin-left: 6px;
  margin-right: 4px;
  vertical-align: middle;
}