.label-view-element {
  display: inline-block;
  padding: 1px;
  border-radius: 9px;
  background-color: #eee;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 12px;
  cursor: default;
}

.label-view-element .kind {
  text-transform: uppercase;
  font-size: 8px;
  color: #aaa;
  margin-right: 2px;
  position: relative;
  top: -1px;
}

.label-view-element .value {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label-view-element-link.is-link .key {
  text-transform: uppercase;
  font-size: 8px;
  margin-right: 2px;
  position: relative;
  top: -1px;
}
