.manifest-vulnerability-view-element .donut-icon {
  position: absolute;
  top: 70px;
  left: 95px;
  font-size: 80px;
  text-align: center;
  color: #EAEAEA;
  margin-left: -6px;
}

.manifest-vulnerability-view-element > .empty {
  margin-top: 20px;
}

.manifest-vulnerability-view-element .security-header {
  margin-top: -4px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
}

.manifest-vulnerability-view-element .donut-col {
  padding-top: 20px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
  vertical-align: top;
}

.manifest-vulnerability-view-element #vulnDonutChart {
  display: inline-block;
}

.manifest-vulnerability-view-element .summary-col {
  font-size: 18px;
  display: inline-block;
  vertical-align: top;
  padding-top: 30px;
}

.manifest-vulnerability-view-element .summary-col .title-item {
  font-size: 24px;
  margin-bottom: 6px;
}

.manifest-vulnerability-view-element .summary-col .subtitle-item {
  font-size: 22px;
  margin-bottom: 6px;
}

.manifest-vulnerability-view-element .summary-list {
  text-align: left;
  list-style: none;
}

.manifest-vulnerability-view-element .summary-list i.fa {
  margin-right: 10px;
}

.manifest-vulnerability-view-element .summary-list li.severity-item strong {
  text-align: right;
  width: 40px;
  display: inline-block;
  margin-right: 6px;
}

.manifest-vulnerability-view-element .dockerfile-command {
  cursor: default;
}

.manifest-vulnerability-view-element .dockerfile-command .command-title {
  font-size: 12px;
  max-width: 297px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
}

.manifest-vulnerability-view-element .co-table .empty {
  color: #ddd;
}

.manifest-vulnerability-view-element .co-table .single-col {
  width: 15%;
}

.manifest-vulnerability-view-element .co-table .double-col {
  width: 30%;
}

.manifest-vulnerability-view-element .co-table .impact-col {
  text-align: center;
  width: 130px;
}

.manifest-vulnerability-view-element .co-table .nowrap-col {
   white-space: nowrap;
}

.manifest-vulnerability-view-element .co-table .image-col {
   white-space: nowrap;
}

.manifest-vulnerability-view-element .co-table .image-col .fa {
  margin-left: 6px;
  opacity: 0.5;
}

@media (max-width: 767px) {
  .manifest-vulnerability-view-element .co-table .single-col {
      width: auto !important;
  }
}

.manifest-vulnerability-view-element .fixed-in-version:before {
  font-family: FontAwesome;
  content: '\f0a9';
  margin-right: 6px;
}

.manifest-vulnerability-view-element .fixed-in-version {
  color: rgb(47, 201, 142);
}

.manifest-vulnerability-view-element .cvss-text {
  display: inline-block;
  width: 40px;
  text-align: right;
}

.cvss-text::after {
    content: " / 10";
    color: #ccc;
}

.manifest-vulnerability-view-element .vulnerability-priority-view {
  margin-left: 10px;
}

.manifest-vulnerability-view-element .cvss {
    display: inline-block;
    width: 100px;
    height: 10px;
    margin-left: 8px;
    background: #eee;
    position: relative;;
}

.manifest-vulnerability-view-element .cvss span {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
}

.manifest-vulnerability-view-element .expansion-col {
  padding-top: 20px;
  padding-bottom: 20px;
}

.manifest-vulnerability-view-element .subtitle {
  color: #999;
  font-size: 90%;
  text-transform: uppercase;
  font-weight: 300;
  padding-top: 0!important;
  text-align: left;
  margin-bottom: 6px;
}


.manifest-vulnerability-view-element .expand-link {
  color: black !important;
}

.manifest-vulnerability-view-element .external-link {
  margin-left: 10px;
  font-size: 12px;
}

.manifest-vulnerability-view-element .description {
  display: inline-block;
  max-width: 1000px;
}

.manifest-vulnerability-view-element .asterisk {
  vertical-align: super;
  font-size: 9px;
  margin-left: 2px;
}

.manifest-vulnerability-view-element .severity-note {
  margin-bottom: 10px;
}

.manifest-vulnerability-view-element .severity-note .vulnerability-priority-view {
  margin: 0px;
  margin-left: 2px;
  margin-right: 2px;
}

.manifest-vulnerability-view-element .defcon1 {
  background-color: #FB5151;
  color: white;
}