.new-ui-active, .new-ui-inactive {
    font-size: 30px;
    cursor: pointer;
}

.modal-border {
    border-bottom: none !important;
}

i.new-ui-active {
    color: #438fda;
}

i.new-ui-inactive {
    color: #777;
}

.beta-ui-info {
    font-size: 60px;
    color: #2a9af3;
}

.center-align {
    display: block;
    text-align: center;
}

.width-25 {
    width: 25%;
}

.confirm-btn {
    background-color: #438fda;
    border: 1px solid #438fda;
    color: white;
}

.cancel-btn {
    background-color: white;
    border: none;
    box-shadow: none;
    color: #438fda;
}

.align-items-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-ui-toggle {
    margin-right: 9%;
    width: 230px;
}

.right-padding-0 {
    padding-right: 0%;
}

.display-flex {
    display: flex;
}
