.row-alignment {
    display: flex;
    padding: 4px;
    align-items: center
}

.margin-2 {
    margin: 2px;
}

.margin-right-4 {
    margin-right: 4px;
}

.margin-left-110 {
    margin-left: 110%;
}

.min-width-100 {
    min-width: 100% !important;
}

.min-width-171 {
    min-width: 171% !important;
}

.border-radius-50 {
    border-radius: 50%;
}

.capitalize-text {
    text-transform: capitalize !important;
}

.float-left {
    float: left;
}

.width-120px {
    width: 120px;
}

.error-border {
    border: 1px solid red !important;
}
