.row-alignment {
    width: 150px !important;
    font-weight: 100 !important;
    padding-top: 5% !important;
}

.margin-2 {
    margin: 2px;
}

.margin-right-4 {
    margin-right: 4px;
}

.width-100 {
    width: 100%;
}

.border-radius-50 {
    border-radius: 50% !important;
}

.error-border {
    border: 1px solid red !important;
}

.white-background {
    background-color: #fff !important;
}
