.row-alignment {
    display: flex;
    padding: 4px;
    align-items: center
}

.margin-2 {
    margin: 2px;
}

.margin-right-4 {
    margin-right: 4px;
}

width-440 {
    width: 440%;
}

min-width-100 {
    min-width: 100% !important;
}

.border-radius-50 {
    border-radius: 50%;
}

.capitalize-text {
    text-transform: capitalize !important;
}
