.repository-events-table-element .notification-row i.fa {
  margin-right: 6px;
}

.repository-events-table-element .notification-event-fields {
  list-style: none;
  padding: 0px;
  margin-left: 28px;
  margin-top: 3px;
  font-size: 13px;
  color: #888;
  margin-bottom: 0px;
}

.create-notification-btn {
  color: #fff;
}

.repository-events-table-element .permissions td {
  vertical-align: top;
}

.repository-events-table-element .notification-event-fields li {
  margin-bottom: 4px;
}

.repository-events-table-element .notification-event-fields textarea {
  font-family: monospace;
}
