.repo-panel-title-row .repo-circle {
  color: #999;
  display: inline-block;
  position: relative;
  background: #eee;
  padding: 4px;
  border-radius: 50%;
  display: inline-block;
  width: 46px;
  height: 46px;
}

.repo-panel-title-row .repo-circle .fa-hdd-o {
  font-size: 1.7em;
}

.repo-panel-title-row .repo-circle.no-background .fa-hdd-o {
  font-size: 1.7em;
}

.repo-panel-title-row .repo-circle .fa-lock {
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 12px !important;
}

.repo-panel-title-row .repo-circle.no-background .fa-lock {
  bottom: 5px;
  right: 2px;
}

.repo-list-title {
  margin-bottom: 30px;
  margin-top: 10px;
  line-height: 24px;
  font-size: 18px;
}

.repo-list-title a {
  font-size: 18px;
  margin: 0;
  display: inline-block;
}

.repo-list-title i {
  display: inline-block;
  margin-right: 5px;
}

.repo-list-title .starred {
  color: #ffba6d;
  display: inline-block;
  text-align: center;
  width: 24px;
  margin-right: 6px;
}

.repo-list-title .avatar {
  margin-right: 6px !important;
}

.repo-panel {
  padding: 20px;
  border: 1px solid #eee;
  margin-bottom: 30px;
}

.repo-panel-title-row {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.panel-body.starred {
  background: -moz-linear-gradient(top, rgba(255,240,188,1) 0%, rgba(255,255,255,0.5) 5%, rgba(255,255,255,0.49) 51%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,240,188,1)), color-stop(5%,rgba(255,255,255,0.5)), color-stop(51%,rgba(255,255,255,0.49)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,240,188,1) 0%,rgba(255,255,255,0.5) 5%,rgba(255,255,255,0.49) 51%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,240,188,1) 0%,rgba(255,255,255,0.5) 5%,rgba(255,255,255,0.49) 51%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,240,188,1) 0%,rgba(255,255,255,0.5) 5%,rgba(255,255,255,0.49) 51%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,240,188,1) 0%,rgba(255,255,255,0.5) 5%,rgba(255,255,255,0.49) 51%,rgba(255,255,255,0) 100%); /* W3C */
}

.repo-list-grid .star-icon {
  color: #ddd;
  display: block;
  font-size: 1.2em;
  text-align: right;
  line-height: 2em;
}

.new-repo-listing {
  display: block;
  font-size: 14px;
  line-height: normal;
}

.new-repo-listing .description {
  font-size: 0.91em;
  padding-top: 13px;
  padding-left: 11px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.repo-panel-repo-link {
  font-size: 1.2em;
}

.repo-list-grid {
  padding-top: 10px;
}

.repo-list-title .avatar {
  margin-right: 10px;
}

.repo-list-grid .markdown-view-content p {
  max-height: 16px;
}
