.robot-credentials-dialog-element .token-regenerated {
    margin-top: 10px;
    font-size: 16px;
}

.robot-credentials-dialog-element .token-regenerated .fa {
    margin-right: 6px;
    color: #2FC98E;
}
