.tt-menu {
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    right: 0px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #428bca;
}

.tt-hint {
  display: none;
}