<!DOCTYPE html>
<html ng-app="quay-config" class="onprem">
<head>
    <script type="text/javascript">
      window.__endpoints = {{ route_data|tojson|safe }}.paths;
      window.__config = {{ config_set|tojson|safe }};
      window.__kubernetes_namespace = {{ kubernetes_namespace|tojson|safe }};
      window.__read_only_fields = {{ read_only_fields|tojson|safe }};
    </script>

    {% for style_url in external_styles %}
    <link rel="stylesheet" href="{{ style_url }}" type="text/css">
    {% endfor %}

    {% for script_url in external_scripts %}
      <script src="{{ script_url }}"></script>
    {% endfor %}

    {% for script_path in main_scripts %}
    <script src="/static/{{ script_path }}"></script>
    {% endfor %}

    <title>Config app</title>

    <!-- Icons -->
    <link rel="shortcut icon" href="/static/img/quay_favicon.png" type="image/png" />
</head>
<body class="co-img-bg-network quay-config-app">
<config-setup-app></config-setup-app>
</body>
</html>
