<div>
    <div class="co-dialog modal fade initial-setup-modal in" id="setupModal" style="display: block;">
        <div class="modal-backdrop fade in" style="height: 1000px;"></div>
        <div class="modal-dialog fade in">
            <div class="modal-content">
                <!-- Header -->
                <div class="modal-header">
                    <span class="cor-step-bar">
                        <span class="cor-step active" title="Configure Database" text="1"></span>
                        <span class="cor-step" title="Setup Database" icon="database"></span>
                        <span class="cor-step" title="Create Superuser" text="2"></span>
                        <span class="cor-step" title="Configure Registry" text="3"></span>
                        <span class="cor-step" title="Validate Configuration" text="4"></span>
                        <span class="cor-step" title="Setup Complete" icon="download"></span>
                    </span>
                    <h4 class="modal-title"><span>Load Config</span></h4>
                </div>
                <!-- Body -->
                <div class="modal-body">
                    <span>Please upload the previous configuration</span>
                    <div class="file-upload-box"
                         api-endpoint="configapp/tarconfig"
                         select-message="Select a previous configuration to modify. Must be in tar.gz format"
                         files-selected="$ctrl.handleTarballSelected(files, callback)"
                         files-cleared="$ctrl.handleFilesCleared()"
                         files-validated="$ctrl.tarballValidatedByUploadBox(files, uploadFiles)"
                         extensions="['application/gzip', '.gz']"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="$ctrl.uploadTarball()" ng-disabled="!$ctrl.readyToSubmit">
                        Upload Configuration
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>
