<div ng-if="$ctrl.state === 'choice' && $ctrl.kubeNamespace === false">
    <div class="co-dialog modal fade initial-setup-modal in" id="setupModal" style="display: block;">
        <div class="modal-backdrop fade in" style="height: 1000px;"></div>
        <div class="modal-dialog fade in">
            <div class="modal-content">
                <!-- Header -->
                <div class="modal-header">
                    <h4 class="modal-title"><span>Choose an option</span></h4>
                </div>
                <!-- Body -->
                <div class="config-setup-wrapper">
                    <a class="config-setup_option" ng-click="$ctrl.chooseSetup()">
                        <i class="fas fa-edit fa-2x"></i>
                        <div>Start New Registry Setup</div>
                    </a>
                    <a class="config-setup_option" ng-click="$ctrl.chooseLoad()">
                        <i class="fas fa-upload fa-2x"></i>
                        <div>Modify an existing configuration</div>
                    </a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>
<div ng-if="$ctrl.state === 'choice' && $ctrl.kubeNamespace !== false">
    <div class="co-dialog modal fade initial-setup-modal in" id="kubeSetupModal" style="display: block;">
        <div class="modal-backdrop fade in" style="height: 1000px;"></div>
        <div class="modal-dialog fade in">
            <div class="modal-content">
                <!-- Header -->
                <div class="modal-header">
                    <h4 class="modal-title"><span>Choose an option for the <code>{{ $ctrl.kubeNamespace }}</code> namespace</span></h4>
                </div>
                <!-- Body -->
                <div class="config-setup-wrapper">
                    <a class="config-setup_option" ng-click="$ctrl.chooseSetup()">
                        <i class="fas fa-edit fa-2x"></i>
                        <div>Start new configuration for this cluster</div>
                    </a>
                    <a class="config-setup_option" ng-click="$ctrl.choosePopulate()">
                        <i class="fas fa-cloud-download-alt fa-2x"></i>
                        <div>Modify configuration for this cluster</div>
                    </a>
                    <a class="config-setup_option" ng-click="$ctrl.chooseLoad()">
                        <i class="fas fa-upload fa-2x"></i>
                        <div>Populate this cluster from a previously created configuration</div>
                    </a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>
<div ng-if="$ctrl.state === 'setup'" class="setup" setup-completed="$ctrl.setupCompleted()"></div>
<load-config ng-if="$ctrl.state === 'load'" config-loaded="$ctrl.configLoaded()"></load-config>
<download-tarball-modal
        ng-if="$ctrl.state === 'download'"
        loaded-config="$ctrl.loadedConfig"
        is-kubernetes="$ctrl.kubeNamespace !== false"
        choose-deploy="$ctrl.chooseDeploy()">
</download-tarball-modal>
<kube-deploy-modal ng-if="$ctrl.state === 'deploy'" loaded-config="$ctrl.loadedConfig"></kube-deploy-modal>
