<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="padding: 4px; padding-left: 20px;">
        <button type="button" class="close" ng-click="$hide()" style="padding: 4px;">
          &times;
        </button>
        <div class="application-info" application="applicationInfo"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>
