<span class="label-view-element">
  <span ng-if="!isUrl(label.value)">
    <span class="kind" ng-show="getKind(label)">{{ getKind(label) }}</span>
    <span class="label-value">
        <span class="key">{{ label.key }}</span>
        <span class="equals">=</span>
        <span class="value">{{ label.value }}</span>
    </span>
  </span>
  <a class="label-view-element-link is-link"
     ng-if="isUrl(label.value)"
     ng-href="{{ label.value }}"
     rel="nofollow noopener"
     target="_blank">
     <span class="label-value">
      <span class="key">{{ label.key }}</span>
      <span class="value">{{ label.value }}</span>
    </span>
</a>
</span>
