<div class="quota-management-view-element">
  <div ng-if="view == 'organization-view' && !showConfigPanel && !prevquotaEnabled">
    <button class="margin-2 add-quota-limit btn btn-success hidden-xs" ng-click="toggleOrgConfigView()">
      <i class="fa margin-right-4"></i>
      Add Storage Quota
    </button>
  </div>
  <div ng-if="!(view == 'organization-view' && !showConfigPanel && !prevquotaEnabled) || view == 'super-user'">
  <fieldset ng-disabled="view == 'organization-view' && prevquotaEnabled">
  <form>
  <table class="co-list-table">
    <tr>
      <td class="row-alignment">
        Set storage quota:
      </td>
      <td>
	<table class="co-table">
	  <td>
            <input class="margin-2 form-control width-440" type="number" name="quota-limit" ng-model="currentQuotaConfig['quota']">
	  </td>
	  <td>
            <select class="form-control"
                    ng-model="currentQuotaConfig['byte_unit']"
                    ng-options="val for val in quotaUnits">
            </select>
	  </td>
	</table>
      </td>
    </tr>

    <tr>
      <td class="row-alignment">
        Quota Policy:
      </td>
      <td>
        <table class="co-table no-lines" ng-if="currentQuotaConfig">

          <thead>
            <td class="hidden-xs">
              <span class="text-capitalize">Action</span>
            </td>
            <td class="hidden-xs">
              <span class="text-capitalize">Quota Threshold</span>
            </td>
            <td class="hidden-xs">
              <span></span>
            </td>
          </thead>

	  <!-- Update limits -->
          <tr ng-repeat="limit in currentQuotaConfig['limits']">
            <td>
              <select class="form-control" name="quotaLimitType" id="quotaLimitType"
                      ng-options="type for type in quotaLimitTypes"
                      ng-model="limit['type']">
              </select>
            </td>
            <td>
              <input class="form-control margin-2" type="number" name="limit-percent"
		     min="1" max="100" placeholder="Limit Percent" ng-model="limit['limit_percent']"/>
            </td>
            <td>
              <span class="margin-2">
                <button class="margin-2 btn btn-primary" ng-click="updateQuotaLimit(limit.id)" ng-disabled="disableUpdateQuota(limit.id)">
                  <i class="fa fa-trash"></i>
                  Update
                </button>
              </span>
              <span class="margin-2">
                <button class="margin-2 btn btn-danger" ng-click="deleteQuotaLimit(limit.id)">
                  <i class="fa fa-trash"></i>
                  Remove
                </button>
              </span>
            </td>
          </tr>

	  <!-- Add limit -->
          <tr>
            <td>
              <select class="form-control" name="quotaLimitType" id="newQuotaLimitType"
                      ng-options="type for type in quotaLimitTypes" ng-model="newLimitConfig['type']">
              </select>
            </td>
            <td>
              <input class="form-control margin-2" type="number" name="limit-percent" id="newQuotaLimitPercent"
		     min="1" max="100" placeholder="Percent threshold" ng-model="newLimitConfig['limit_percent']"/>
            </td>
            <td>
              <span class="margin-2">
		<button class="add-quota-limit btn btn-success border-radius-50" ng-click="addQuotaLimit()" ng-disabled="disableAddQuotaLimit()">
		  <i class="fa fa-plus"></i>
		</button>
              </span>
            </td>
          </tr>

        </table>
      </td>
    </tr>

  </table>
      <div class="co-alert co-alert-danger" ng-if="errorMessage">
          {{ errorMessage }}
      </div>
      <div class="co-help-text" ng-if="warningMessage">
          {{ warningMessage }}
      </div>
      <div>
          <button class="margin-2 btn btn-primary save-quota-details margin-3"
          ng-disabled="disableSaveQuota()" ng-click="updateQuotaConfig()">Apply</button>
          <button ng-show="prevquotaEnabled" class="margin-2 btn btn-danger" ng-disabled="!prevquotaEnabled" ng-click="showdeleteOrgQuota()">Remove</button>
          <button ng-if="view == 'super-user'" class="btn btn-default" data-dismiss="modal">Close</button>
          <button ng-if="view == 'organization-view' && !prevquotaEnabled" class="margin-2 btn btn-primary" ng-click="toggleOrgConfigView()">
            Cancel
          </button>
      </div>
  </form>
</fieldset>
</div>
</div>

<!-- Delete Quota dialog -->
<div class="cor-confirm-dialog"
    dialog-context="showQuotaDeletionModal"
    dialog-action="deleteOrgQuota(info, callback)"
    dialog-title="Really remove Quota?"
    dialog-action-title="Ok"
    dialog-form="context.deleteQuota"
    dialog-button-class="btn-danger">
    <form name="context.deleteQuota" class="co-single-field-dialog">
        <div>
            When you remove the quota storage, users can consume arbitrary amount of storage resources.
        </div>
    </form>
</div>
