<div class="quota-management-view-element">
  <div ng-if="view == 'organization-view' && !showConfigPanel && !prevquotaEnabled">
    <button class="margin-2 add-quota-limit btn btn-primary hidden-xs" ng-disabled="true">
      <i class="fa margin-right-4"></i>
      No Quota Configured
    </button>
  </div>
  <div ng-if="!(view == 'organization-view' && !showConfigPanel && !prevquotaEnabled) || view == 'super-user'">
  <form>
  <table class="co-list-table">
    <tr>
      <td class="row-alignment">
        Set storage quota:
      </td>
      <td>
	<table class="co-table">
	  <td>
            <input class="margin-2 form-control width-440 white-background" name="quota-limit"
              ng-disabled="prevquotaEnabled && view == 'organization-view'"
              ng-model="currentQuotaConfig['quota']">
	  </td>
	  <td>
            <select class="form-control"
              ng-model="currentQuotaConfig['byte_unit']"
              ng-options="val for val in quotaUnits"
              ng-disabled="prevquotaEnabled && view == 'organization-view'"
            >
            </select>
	  </td>
	</table>
      </td>
    </tr>
    <tr ng-show="prevQuotaConfig['quota'] && (view == 'super-user' || !isObjectEmpty(currentQuotaConfig['limits']))">
      <td class="row-alignment">
        Quota Policy:
      </td>
      <td>
        <table class="co-table no-lines" ng-if="currentQuotaConfig">

          <thead>
            <td class="hidden-xs">
              <span class="text-capitalize">Action</span>
            </td>
            <td class="hidden-xs">
              <span class="text-capitalize">Quota Threshold</span>
            </td>
            <td class="hidden-xs">
              <span></span>
            </td>
          </thead>

	  <!-- Update limits -->
          <tr ng-repeat="limit in currentQuotaConfig['limits']">
            <td>
              <select class="form-control" name="quotaLimitType" id="quotaLimitType"
                ng-disabled="prevquotaEnabled && view == 'organization-view'"
                ng-options="type for type in quotaLimitTypes"
                ng-model="limit['type']">
              </select>
            </td>
            <td>
              <input class="form-control margin-2 white-background" type="number" name="limit-percent"
                ng-disabled="prevquotaEnabled && view == 'organization-view'"
		        min="1" max="100" placeholder="Limit Percent" ng-model="limit['limit_percent']"/>
            </td>
            <td>
              <span class="margin-2">
                <button class="margin-2 btn btn-primary" ng-click="updateQuotaLimit(limit.id)" ng-disabled="disableUpdateQuota(limit.id)" ng-if="view == 'super-user'">
                  <i class="fa fa-trash"></i>
                  Update
                </button>
              </span>
              <span class="margin-2">
                <button class="margin-2 btn btn-danger" ng-click="deleteQuotaLimit(limit.id)" ng-disabled="disableDeleteQuota()" ng-if="view == 'super-user'">
                  <i class="fa fa-trash"></i>
                  Remove
                </button>
              </span>
            </td>
          </tr>

	  <!-- Add limit -->
          <tr ng-if="view == 'super-user'">
            <td>
              <select class="form-control" name="quotaLimitType" id="newQuotaLimitType"
                ng-disabled="view == 'organization-view'"
                ng-options="type for type in quotaLimitTypes" ng-model="newLimitConfig['type']">
              </select>
            </td>
            <td>
              <input class="form-control margin-2 white-background" type="number" name="limit-percent" id="newQuotaLimitPercent"
                ng-disabled="view == 'organization-view'" min="1" max="100"
                placeholder="Percent threshold" ng-model="newLimitConfig['limit_percent']"/>
            </td>
            <td>
              <span class="margin-2">
		        <button class="add-quota-limit btn btn-success" ng-click="addQuotaLimit()" ng-disabled="view == 'organization-view' || disableAddQuotaLimit()">
		          <i class="fa fa-plus"></i> Add Limit
		        </button>
              </span>
            </td>
          </tr>

        </table>
      </td>
    </tr>

  </table>
      <div class="co-alert co-alert-danger" ng-if="errorMessage">
          {{ errorMessage }}
      </div>
      <div class="co-help-text" ng-if="warningMessage">
          {{ warningMessage }}
      </div>
      <div>
          <button class="margin-2 btn btn-primary save-quota-details margin-3"
          ng-disabled="disableSaveQuota()" ng-click="updateQuotaConfig()" ng-disabled="view == 'organization-view'" ng-if="view == 'super-user'">Apply</button>
          <button ng-show="prevquotaEnabled" class="margin-2 btn btn-danger" ng-disabled="!prevquotaEnabled || view == 'organization-view'" ng-if="view == 'super-user'" ng-click="deleteOrgQuota()">Remove</button>
          <button ng-if="view == 'super-user'" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
  </form>
</div>
</div>
