<div class="robot-credentials-dialog-element">
  <div class="credentials-dialog" credentials="credentials" secret-title="Robot Account" entity-title="robot account" entity-icon="ci-robot">
    <div ng-show="!inReadOnlyMode">
      <label>Regenerate Token:</label>
      <div class="action-text">Click the link below to regenerate the token for this robot. Note that <strong>all existing logins</strong> of this robot account will become invalid.</div>
      <a ng-click="askRegenerateToken()" class="co-modify-link" ng-show="!showRegenerateToken">Regenerate Token</a>
      <button class="btn btn-warning" ng-click="regenerateToken()" ng-show="showRegenerateToken">Regenerate Token Now</button>
      <div ng-show="tokenRegenerated" class="token-regenerated">
          <i class="fa fa-check-circle"></i>Token successfully regenerated
      </div>
    </div>
  </div>
</div>
