.co-dialog .modal-body.download-tarball-modal {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.modal__warning-box {
    margin-top: 15px;
}

.download-tarball-modal .download-button {
    align-self: center;
}

.download-tarball-modal .download-button:hover {
    background-color: #dddddd;
    text-decoration: none;
}
