<div>
    <div class="co-dialog modal fade initial-setup-modal in" id="setupModal" style="display: block;">
        <div class="modal-backdrop fade in" style="height: 1000px;"></div>
        <div class="modal-dialog fade in">
            <div class="modal-content">
                <!-- Header -->
                <div class="modal-header">
                    <span class="cor-step-bar">
                        <span class="cor-step active" title="Configure Database" text="1"></span>
                        <span class="cor-step active" title="Setup Database" icon="database"></span>
                        <span class="cor-step active" title="Create Superuser" text="2"></span>
                        <span class="cor-step active" title="Configure Registry" text="3"></span>
                        <span class="cor-step active" title="Validate Configuration" text="4"></span>
                        <span class="cor-step active" title="Setup Complete" icon="download"></span>
                    </span>
                    <h4 class="modal-title"><span>Download Configuration</span></h4>
                </div>
                <!-- Body -->
                <div class="modal-body download-tarball-modal">
                    <div ng-if="$ctrl.loadedConfig">
                        Please download your updated configuration. To deploy these changes to your Red Hat Quay instances, please
                        <a target="_blank" href="https://coreos.com/quay-enterprise/docs/latest/initial-setup.html">
                            see the docs.
                        </a>
                        <div class="modal__warning-box">
                            <div class="co-alert co-alert-warning">
                                <strong>Warning: </strong>
                                Your configuration and certificates are kept <i>unencrypted</i>. Please keep this file secure.
                            </div>
                        </div>
                    </div>
                    <div ng-if="!$ctrl.loadedConfig">
                        Please download your new configuration. For more information, and next steps, please
                        <a target="_blank" href="https://coreos.com/quay-enterprise/docs/latest/initial-setup.html">
                            see the docs.
                        </a>
                        <div class="modal__warning-box">
                            <div class="co-alert co-alert-warning">
                                <strong>Warning: </strong>
                                Your configuration and certificates are kept <i>unencrypted</i>. Please keep this file secure.
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-default btn-lg download-button"
                            ng-click="$ctrl.downloadTarball()">
                        <i class="fa fa-download" style="margin-right: 10px;"></i>Download Configuration
                    </button>
                </div>
                <div ng-if="$ctrl.isKubernetes" class="modal-footer">
                    <button class="btn btn-primary"
                            ng-click="$ctrl.goToDeploy()">
                        <i class="far fa-paper-plane" style="margin-right: 10px;"></i>Go to deployment rollout
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>
