.button-primary {
  margin-right: 10px;
}

.quay-screenshot {
  justify-content: flex-end;
  min-height: 214px;
  min-width: 401px;
  background-size: "cover";
  background-image: url(src/assets/vul.png);
}
