.overview-title {
  margin: 24px;
}

.overview-info {
  margin: 0;
}

.overview-logo {
  display: flex;
  align-self: center;
  width: 48px;
  height: 48px;
}

.overview-tabs {
  background-color: var(--pf-v5-global--BackgroundColor--light-100);
}
