.faq-section {
  margin: 24px;
}

.pricing-faqs-card {
  padding-left: 10px;
  margin: 24px;
}

.pricing-card {
  min-width: 310px;
  min-height: 325px;
}

.faq-expand {
  color: var(--pf-v5-global--Color--100);
}

.faq-field {
  margin: 10px;
}
