$screen-sm: 768px;
$pf-v5-global-gutter: 1rem;
$pf-v5-global-gutter--md: 1.5rem;

// Page layout
.co-m-nav-title {
  margin-top: $pf-v5-global-gutter--md;
  padding: 0 $pf-v5-global-gutter 0;
  @media (min-width: 500px) {
    padding-left: $pf-v5-global-gutter--md;
    padding-right: $pf-v5-global-gutter--md;
  }
  &--row {
    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

// Trash icon
.fas.fa-trash {
  font-size: var(--pf-v5-global--icon--FontSize--lg);
  color: grey;
}

.pf-v5-c-button.pf-m-plain {
  --pf-v5-c-button--disabled--BackgroundColor: transparent
}

.create-org-modal-slider {
  word-break: normal;
}
