<div class="repo-list page-content">
  <div class="cor-title">
    <span class="cor-title-link"></span>
    <span class="cor-title-content">Applications</span>
  </div>

  <!-- Loading -->
  <div class="cor-loader" ng-if="loading || user.beforeload"></div>

  <!-- Not signed in -->
  <div class="co-main-content-panel" ng-if="!loading && user.anonymous && !user.beforeload">
    <!-- The user is not logged in -->
    <div class="cor-container signin-container row">
      <!-- Sign In -->
      <div class="user-setup" redirect-url="redirectUrl"></div>
    </div>
  </div>

  <!-- Signed in -->
  <div class="row"  ng-if="!loading && !user.anonymous">
    <div class="col-md-12">
      <div class="repo-list-panel co-main-content-panel">
        <div class="repo-list-view" namespaces="namespaces" repo-kind="application"
             in-read-only-mode="inReadOnlyMode">
        </div>
      </div>
    </div>
  </div>

</div>

