<div>
  <div class="cor-loader" ng-show="currentStep == States.LOADING"></div>
  <div class="page-content" quay-show="Features.SUPER_USERS">
    <div class="cor-title">
      <span class="cor-title-link"></span>
      <span class="cor-title-content">Red Hat Quay Setup Incomplete</span>
    </div>

    <div class="co-main-content-panel" style="padding: 20px;">
      <div class="co-alert co-alert-warning">
        <div><strong>Your configuration is not setup yet</strong></div>
        <div>Please refer to
          <a target="_blank" href="https://coreos.com/quay-enterprise/docs/latest/initial-setup.html">
               the docs to set up your instance.
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
