 <div class="container privacy-policy">

  <h2>CoreOS Privacy Policy</h2>

  <p style="font-weight: bold; padding: 1em; color: #EE0000">
    Quay.io has adopted Red Hat's Privacy Statement as part of the integration
    with Red Hat. Please review the
    <a href="https://www.redhat.com/en/about/privacy-policy">Red Hat Privacy Statement</a>
    which is effective from March 1, 2020.
  </p>

  <h4>Last Revised: February 2, 2015</h4>
    <p>Welcome to Quay from CoreOS, Inc. (“<strong>CoreOS</strong>”, “<strong>we</strong>”, “<strong>us</strong>” or “<strong>our</strong>”).</p>
    <p>This privacy policy explains how we collect, use and disclose information about you when you use any of the websites owned or operated by CoreOS (the “<strong>Sites</strong>”) and any of the online products and services that link to this privacy policy (collectively, the “<strong>Services</strong>”) or when you otherwise interact with us. By using any of our Services, you consent to our collection, use and disclosure of your information as described in this privacy policy.</p>
    <p>The Services allow users to store, manage, and retrieve container repositories.</p>
    <p>We may change this privacy policy from time-to-time. If we make changes, we will notify you by revising the date at the top of the policy and, in some cases, we will provide you with additional notice (such as adding a statement to our homepage or sending you an email notification). We encourage you to review the privacy policy periodically to stay informed about our practices and the ways you can help protect your privacy.</p>
    <dl>
      <dt class="section">Collection of Information</dt>

      <dt>Information You Provide to Us</dt>
      <dd>
      We collect information you directly give us. For example, we collect information about you when you sign up for one of our Services, participate in any interactive features of the Services, fill out a form, give feedback, ideas or submissions about any of the Services, communicate with us via third party social media sites, request customer support or otherwise communicate with us. The types of information we may collect include your email address, username, your credit/debit card information and any other information you choose to provide. For information as to how to restrict the collection of contact information, please see the “<a href="#your-choices">Your Choices</a>” section below. If you choose not to provide certain information, we may not be able to provide certain of our Services to you or certain features of our Services may be unavailable or work differently.
      </dd>

      <dt>Information We Collect Automatically When You Use the Services</dt>
      <dd>
        When you access or use our Services (or certain portions of the Services), we automatically collect certain information about you. This information includes:
        <ul>
          <li><strong>Log Information:</strong> We log information about your use of the Services, including the type of device you use, access times, IP address, pages viewed, and the page you visited before navigating to one of our Services. We use this information for analytic and product improvement purposes.</li>
      <li><strong>Device Information:</strong> We collect information about the computer you use to access our Services, including the hardware model, operating system and version and unique device identifiers.</li>
      <li><strong>Information Collected by Cookies and Other Tracking Technologies:</strong> We use various technologies to collect information, and this may include cookies and web beacons. Cookies are small data files stored on your hard drive or in device memory. Web beacons (also known as “tracking pixels”) are non-visible electronic images. These technologies are used for analytic and product improvement purposes, such as seeing which areas and features of our Services are popular and determining whether an email has been opened and acted upon. For more information about cookies, and how to disable them, please see “<a href="#your-choices">Your Choices</a>” below.</li>
        </ul>
      </dd>

      <dt>Information We Collect From Other Sources</dt>
      <dd>
        We may also obtain information from other sources and combine that with information we collect through our Services. For example, if you create or log into your account through a site like Google.com or GitHub.com, we will have access to certain information from that site, such as your name, account information and friends lists, in accordance with the authorization procedures determined by these sites.
      </dd>
      <dt class="section">Use of Information</dt>
      <dd>We may use information about you for various purposes, including to:
        <ul>
      <li>Provide, deliver, maintain, test and improve our Services;</li>
      <li>Send you technical notices, updates, confirmations, security alerts and support and administrative messages;</li>
      <li>Respond to your comments, questions and requests and provide customer service;</li>
      <li>Communicate with you about products, services, offers, promotions, rewards and events offered by CoreOS and others, and provide news and information we think will be of interest to you;</li>
      <li>Monitor and analyze trends, usage and activities in connection with our Services and improve our Services;</li>
      <li>Detect, investigate and prevent any suspected breaches of the terms applicable to the use of our Services (including, our Sites); and</li>
      <li>Link or combine with information we get from others to help understand your needs and provide you with better service.</li>
    </ul>
        CoreOS is based in the United States, and the information we collect is governed by U.S. law. By accessing or using any of our Services or otherwise providing information to us, you consent to the processing and transfer of information in and to the U.S. and other countries.
      </dd>
      <dt class="section">Sharing of Information</dt>
      <dd>
        We may share information about you as follows or as otherwise described in this Privacy Policy:
    <ul>
      <li>With vendors, consultants and other service providers who need access to such information to carry out work on our behalf;</li>
      <li>In response to a request for information if we believe disclosure is in accordance with any applicable law, regulation or legal process, or as otherwise required by any applicable law, rule or regulation;</li>
      <li>If we believe your actions are inconsistent with the spirit or language of our user agreements or policies, or to protect the rights, property and safety of CoreOS or others;</li>
      <li>In connection with, or during negotiations of, any financing with respect to CoreOS;</li>
      <li>In connection with, or during negotiations of, any merger, sale of CoreOS’ assets or acquisition of all or a portion of our business to another company; and</li>
      <li>With your consent or at your direction, including if we notify you through any of the Services that the information you provide will be shared in a particular manner and you provide such information.</li>
    </ul>
    We may also share aggregated or anonymized information that does not directly identify you.
      </dd>
      <dt class="section">Security</dt>
      <dd>
        We take reasonable measures to help protect information about you from loss, theft, misuse and unauthorized access, disclosure, alteration and destruction.
      </dd>
      <dt class="section">Analytics Services</dt>
      <dd>
        We may allow others to provide analytics services in connection with the Services (or portions the Services). These entities may use cookies, web beacons and other technologies to collect information about your use of the Services and other websites, including your IP address, web browser, pages viewed, time spent on pages, links clicked and conversion information. We and others may use this information to, among other things, analyze and track data, determine the popularity of certain content, personalize the user experience, and better understand your activity.
      </dd>
      <dt class="section"><a id="your-choices"></a>Your Choices</dt>
      <dt>Account Information</dt>
      <dd>
        If you wish to delete your account, please contact support at <a href="mailto:support@quay.io">support@quay.io</a>. Note that we may retain certain information as required by law or for legitimate business purposes as may be necessary to fulfill the purposes identified in the privacy policy. We may also retain cached or archived copies of information (including, location information) about you for a certain period of time.
      </dd>
      <dt>Cookies</dt>
      <dd>
        Most web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove or reject browser cookies. Please note that if you choose to remove or reject cookies, this could affect the availability and functionality of certain of the Services.
      </dd>
      <dt>Promotional Communications</dt>
      <dd>
        You may opt out of receiving promotional communications from CoreOS by following the instructions in those communications. If you opt out, we may still send you non-promotional communications, such as those about your account or our ongoing business relations.
      </dd>
      <dt>Contact Us</dt>
      <dd>
      If you have any questions or concerns about this privacy policy or any privacy issues, please email us at <a href="mailto:partners@coreos.com">partners@coreos.com</a>.
      </dd>
    </dl>
  </div>
