<div class="popover image-tag-tooltip" tabindex="-1">
  <div class="image-tag-tooltip-header"
       ng-style="::{'backgroundColor': trackEntryForImage[tag.image_id].color, 
                    'color': constrastingColor( trackEntryForImage[tag.image_id].color)}">
      Image {{ tag.image_id.substr(0, 12) }}
   </div>
   <ul class="image-tag-tooltip-tags">
      <li ng-repeat="tag in imageMap[tag.image_id] | limitTo:5"><i class="fa fa-tag"></i>{{ tag.name }}</li>
   </ul>
   <div class="image-tag-tooltip-tags-more" ng-if="imageMap[tag.image_id].length > 5">and {{ imageMap[tag.image_id].length - 5 }} more tags</div>
</div>