/* Global Styles */
@import '~@patternfly/patternfly/patternfly.css';
@import '~@patternfly/patternfly/patternfly-addons.css';

html, body, #root,  .App {
  height: 100%;
}

.pf-v5-c-content {
  --pf-v5-c-content--small--Color: red; /* changes all <small> color to red */
  --pf-v5-c-content--blockquote--BorderLeftColor: purple; /* changes all <blockquote> left border color to purple */
  --pf-v5-c-content--hr--BackgroundColor: lemonchiffon; /* changes a <hr> color to lemonchiffon */
}


.page-sidebar .pf-v5-c-page__sidebar-body {
  background-color: black;
  color: black;
}

.page-sidebar .pf-v5-c-nav__list {
    padding-top: 0;
}

.pf-v5-c-page__sidebar-body {
    padding-top: 0;
}

.disabled-link {
    pointer-events: none;
    color: var(--pf-v5-global--palette--black);
}

.no-padding {
    padding: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0;
}

.no-padding-on-sides {
    padding-left: 0;
    padding-right: 0;
}

.pf-v5-c-tabs {
    padding-left: 24px;
}

.pf-v5-c-panel__footer {
    padding: 24px 24px 0 0;
}

.drawer-styling {
    height: 600px;
    padding: 0;
    min-width: 920px;
}

.drawer-footer {
    padding: 24px 0px 24px 0px;
    bottom: 0;
    position: fixed;
}

.fit-content {
    width: fit-content;
}

.red-color {
    color: red !important;
}
