{% extends "base.html" %}

{% block content %}

<h3 style="font-size: 20px; font-weight:400">E-mail Address Change Requested</h3>
<hr style="border:none; border-top: 1px solid #D9D9D9; margin: 25px 0">
<span style="font-size: 13px; margin: 25px 0;">This email address was added to the {{ app_title }} account <strong>{{ username }}</strong>.

<table style="margin: 25px 0;">
	<tr>
		<td style="background: #40B4E5; padding: 10px; border-radius: 3px; color: #fff; font-size: 20px; font-weight: 500"><a style="text-decoration: none; color: #ffffff;" href="{{ app_link('confirm?code=' + token) }}">Confirm Email</a></td>
	</tr>
</table>
<table style="margin-bottom: 25px">
	<tr>
		<td>If you did not add this address to <strong>{{ username }}</strong>, you can safely ignore this message.</td>
	</tr>
</table>
Best Regards,
<br>
The {{ app_title }} Team
<br>
<br>


{% endblock %}
