{% extends "base.html" %}

{% block content %}

<h3 style="font-weight: 400">Account e-mail address changed: <strong>{{ username }}</strong></h3>
<hr style="border:none; border-top: 1px solid #D9D9D9; margin: 25px 0">

<table>
	<tr>
		<td style="font-size: 13px;">The e-mail address for user <strong>{{ username }}</strong> has been changed.</td>
	</tr>
</table>

<table style="margin-top: 25px">
	<tr>
		<td style="font-size: 13px;">No action is required if you made this change.</td>
	</tr>
</table>

<table style="margin: 25px 0 35px">
	<tr>
		<td style="font-size: 13px;">If you did not make this change, please <a href="https://quay.io/contact/">contact support</a>.</td>
	</tr>
</table>

<span style="font-size: 13px;">Best wishes,</span><br>
<span style="font-size: 13px;">The {{ app_title }} Team</span><br>

{% endblock %}
