.mirroring-container {
  max-width: 700px; /* or 600px, adjust as needed */
  padding: var(--pf-v5-global--spacer--md);
}

.mirroring-container .pf-v5-c-divider {
  margin-top: var(--pf-v5-global--spacer--lg);
}

.mirroring-credentials-helper {
  text-align: center;
  display: block; /* Ensures the text centers properly */
}

.mirroring-form {
  max-width: 700px;
  margin: 0 auto;
}

.pf-v5-c-title.pf-m-2xl {
  text-align: left;
  margin-top: var(--pf-v5-global--spacer--md);
}

.pf-v5-c-title.pf-m-xl {
  text-align: left;
  margin-top: var(--pf-v5-global--spacer--sm);
  margin-bottom: var(--pf-v5-global--spacer--xl);
}

.pf-v5-c-title.pf-m-lg {
  text-align: center;
}

.pf-v5-c-form__label {
  min-width: 180px; /* Try 180px, 200px, or whatever looks best */
  max-width: 200px;
  width: 200px;
}

.mirroring-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
