.pf-v6-c-title.pf-m-2xl {
  text-align: left;
  margin-top: var(--pf-t--global--spacer--300);
}

.pf-v6-c-title.pf-m-xl {
  text-align: left;
  margin-top: var(--pf-t--global--spacer--200);
  margin-bottom: var(--pf-t--global--spacer--500);
}

.pf-v6-c-title.pf-m-lg {
  text-align: center;
}
