name: Download AWS IP ranges

on:
  # push:
  #   paths:
  #     - .github/workflows/aws-ip-json.yml # run workflow every time this file changes
  workflow_dispatch:
  # unschedule for now. we must wait until the flat action can open a PRs,
  # then set it to do so against master.
  # this means this workflow needs to run manually against the target branches.
  # schedule:
  #   - cron: '0 0 * * *'

jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Fetch data
        uses: githubocto/flat@v3
        with:
          http_url: https://ip-ranges.amazonaws.com/ip-ranges.json
          downloaded_filename: util/ipresolver/aws-ip-ranges.json
