---
name: Build and Publish

on:
  push:
    branches:
      - redhat-** # IMPORTANT! this must match the jobs.build-and-publish.env.BRANCH_PREFIX (save the **).
  workflow_dispatch:
    # Allows you to run this workflow manually from the Actions tab
    inputs:
      tag:
        description: 'Tag to attach to image'
        required: true

jobs:
  build-amd64-ppc64le-s390x:
    name: Build amd64, ppc64le, s390x images
    env:
      BRANCH_PREFIX: redhat- # IMPORTANT! this must match the .on.push.branches prefix!
      REGISTRY: ${{ secrets.REGISTRY || 'quay.io/projectquay' }}
      REPO_NAME: ${{ github.event.repository.name }}
      TAG_SUFFIX: -unstable
    runs-on: 'ubuntu-latest'
    outputs:
      digest: ${{ steps.docker_build.outputs.digest }}
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Set version from branch name
        id: version-from-branch
        if: startsWith('env.BRANCH_PREFIX', env.GITHUB_REF)
        run: |
          BRANCH_NAME=${GITHUB_REF#refs/heads/}
          echo "version=${BRANCH_NAME/${{ env.BRANCH_PREFIX }}/}" >> $GITHUB_OUTPUT

      - name: install ibmcli and setup ibm login
        run: |
          curl -fsSL https://clis.cloud.ibm.com/install/linux | sh
          ibmcloud login -q --apikey ${{ secrets.IBMCLOUD_API_KEY }} -r eu-gb
          ibmcloud plugin install vpc-infrastructure

      - name: Add rule to VPC
        id: sg-rule-id
        run: |
          cidr=$(dig +short myip.opendns.com @resolver1.opendns.com)
          echo $cidr
          SGRID=$(ibmcloud is security-group-rule-add --sg ${{ secrets.SG_ID }} --direction=inbound --protocol=tcp --port-min=22 --port-max=22 --remote=$cidr --output JSON | jq -r '.id')
          echo $SGRID
          echo "RID=${SGRID}" >> $GITHUB_ENV

      - name: Setup SSH config for builders
        env:
          BUILDER_PPC64LE_SSH_CONFIG: ${{ secrets.BUILDER_PPC64LE_SSH_CONFIG }}
          BUILDER_PPC64LE_SSH_KEY: ${{ secrets.BUILDER_PPC64LE_SSH_KEY }}
          BUILDER_PPC64LE_SSH_KNOWN_HOSTS: ${{ secrets.BUILDER_PPC64LE_SSH_KNOWN_HOSTS }}
          BUILDER_S390X_SSH_HOST: ${{ secrets.BUILDER_S390X_SSH_HOST }}
          BUILDER_S390X_SSH_KEY: ${{ secrets.BUILDER_S390X_SSH_KEY }}
        run: |
          mkdir ~/.ssh
          chmod 700 ~/.ssh

          touch ~/.ssh/id_builder_ppc64le
          chmod 600 ~/.ssh/id_builder_ppc64le
          echo "$BUILDER_PPC64LE_SSH_KEY" >~/.ssh/id_builder_ppc64le

          touch ~/.ssh/id_builder_s390x
          chmod 600 ~/.ssh/id_builder_s390x
          echo "$BUILDER_S390X_SSH_KEY" > ~/.ssh/id_builder_s390x

          touch ~/.ssh/known_hosts
          chmod 600 ~/.ssh/known_hosts
          cat >~/.ssh/known_hosts <<END
          $BUILDER_PPC64LE_SSH_KNOWN_HOSTS
          END

          touch ~/.ssh/config
          chmod 600 ~/.ssh/config
          cat >~/.ssh/config <<END
          Host builder-ppc64le
            IdentityFile "~/.ssh/id_builder_ppc64le"
          $BUILDER_PPC64LE_SSH_CONFIG

          Host builder-s390x
            StrictHostKeyChecking no
            HostName $BUILDER_S390X_SSH_HOST
            User wfuser
            IdentityFile "~/.ssh/id_builder_s390x"
          END

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          platforms: linux/amd64
          append: |
            - endpoint: ssh://builder-ppc64le
              platforms: linux/ppc64le
            - endpoint: ssh://builder-s390x
              platforms: linux/s390x

      - name: Login to Quay.io
        uses: docker/login-action@v1
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USER }}
          password: ${{ secrets.QUAY_TOKEN }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6
        env:
          TAG: ${{ steps.version-from-branch.outputs.version }}${{ env.TAG_SUFFIX }}
        with:
          platforms: linux/amd64,linux/ppc64le,linux/s390x
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.REPO_NAME }}:${{ github.event.inputs.tag || env.TAG }}-amd64-ppc64le-s390x

      - name: Clean up
        if: success() || failure()
        run: |
          ibmcloud is security-group-rule-delete ${{ secrets.SG_ID }} $RID -f

  build-arm64:
    name: Build ARM64 image
    runs-on: ubuntu-24.04-arm
    env:
      BRANCH_PREFIX: redhat-
      REGISTRY: ${{ secrets.REGISTRY || 'quay.io/projectquay' }}
      REPO_NAME: ${{ github.event.repository.name }}
      TAG_SUFFIX: -unstable
    outputs:
      digest: ${{ steps.docker_build.outputs.digest }}
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Quay.io
        uses: docker/login-action@v1
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USER }}
          password: ${{ secrets.QUAY_TOKEN }}

      - name: Set version from branch name
        id: version-from-branch
        run: |
          BRANCH_NAME=${GITHUB_REF#refs/heads/}
          echo "version=${BRANCH_NAME/${{ env.BRANCH_PREFIX }}/}" >> $GITHUB_OUTPUT

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6
        env:
          TAG: ${{ steps.version-from-branch.outputs.version }}${{ env.TAG_SUFFIX }}
        with:
          platforms: linux/arm64
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.REPO_NAME }}:${{ github.event.inputs.tag || env.TAG }}-arm64

  create-manifest:
    name: Create multi-arch manifest
    needs: [build-amd64-ppc64le-s390x, build-arm64]
    runs-on: ubuntu-latest
    env:
      BRANCH_PREFIX: redhat-
      REGISTRY: ${{ secrets.REGISTRY || 'quay.io/projectquay' }}
      REPO_NAME: ${{ github.event.repository.name }}
      TAG_SUFFIX: -unstable
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Quay.io
        uses: docker/login-action@v1
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USER }}
          password: ${{ secrets.QUAY_TOKEN }}

      - name: Set version
        id: version
        run: |
          BRANCH_NAME=${GITHUB_REF#refs/heads/}
          echo "branch_tag=${BRANCH_NAME/${{ env.BRANCH_PREFIX }}/}${{ env.TAG_SUFFIX }}" >> $GITHUB_OUTPUT

      - name: Create and push manifest
        run: |
          TAG=${{ github.event.inputs.tag || steps.version.outputs.branch_tag }}
          IMAGE=${{ env.REGISTRY }}/${{ env.REPO_NAME }}

          # Combine the multi-arch image (amd64/ppc64le/s390x) with arm64 into final manifest
          docker buildx imagetools create -t ${IMAGE}:${TAG} \
            ${IMAGE}@${{ needs.build-amd64-ppc64le-s390x.outputs.digest }} \
            ${IMAGE}@${{ needs.build-arm64.outputs.digest }}
