name: CI
on:
  # See the documentation for more intricate event dispatch here:
  # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#on
  push:
    branches:
    - "!dependabot/*"
    - "*"
  pull_request:
    branches:
    - "*"
jobs:
  build:
    name: Format
    runs-on: ubuntu-22.04
    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Quay Dev Environment
      uses: ./.github/actions/setup-quay-dev
      with:
        sync-group: only-dev

    - name: Check Formatting (Black)
      run: |
        uv run black --check --diff .

    - name: Check Formatting (Flake8)
      run: |
        # The code-base needs to be cleaned up. There are too many Flake8
        # related warnings now. Ignore known problems to catch new ones.
        uv run flake8 --ignore=C901,E203,E262,E265,E266,E402,E501,E712,E713,E722,E731,E741,F401,F403,F405,F811,F821,F841,W503
        # Run full scan for visibility purposes.
        uv run flake8 --exit-zero

  pre-commit-checks:
    name: Pre-commit checks
    runs-on: ubuntu-22.04
    if: ${{ github.event_name == 'pull_request' }}
    steps:

    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0  # fetch all commits and branches for pre-commit

    - name: Setup Quay Dev Environment
      uses: ./.github/actions/setup-quay-dev
      with:
        sync-group: none

    - name: Set up Node 18
      uses: actions/setup-node@v3
      with:
        node-version: 18
        cache: npm
        cache-dependency-path: web/package-lock.json

    - name: Install npm dependencies
      run: cd ./web && npm ci

    - name: Run pre-commit checks
      uses: pre-commit/action@v3.0.0
      with:
        extra_args: --from-ref origin/${{ github.base_ref }} --to-ref HEAD --verbose

  unit:
    name: Unit Test
    runs-on: ubuntu-22.04
    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Quay Dev Environment
      uses: ./.github/actions/setup-quay-dev

    - name: tox
      run: |
        uv run tox -e py312-unit -- --cov=./ --cov-report=xml

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        flags: unit

  types:
    name: Types Test
    runs-on: ubuntu-22.04
    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Quay Dev Environment
      uses: ./.github/actions/setup-quay-dev

    - name: Check Types
      run: make types-test

  e2e:
    name: E2E Tests
    runs-on: ubuntu-22.04
    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Quay Dev Environment
      uses: ./.github/actions/setup-quay-dev

    - name: tox
      run: |
        uv run tox -e py312-e2e

  registry:
    name: E2E Registry Tests
    runs-on: quay-001-large-ubuntu-24-x64
    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Quay Dev Environment
      uses: ./.github/actions/setup-quay-dev

    - name: tox
      run: |
        uv run tox -e py312-registry

  psql:
    name: E2E Postgres Test
    runs-on: ubuntu-22.04
    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Quay Dev Environment
      uses: ./.github/actions/setup-quay-dev

    - name: Start Docker
      run: |
        sudo systemctl unmask docker
        sudo systemctl start docker
        docker version

    - name: tox
      run: |
        uv run tox -e py312-psql
