name: CI
on:
  # See the documentation for more intricate event dispatch here:
  # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#on
  push:
    branches:
    - "!dependabot/*"
    - "*"
  pull_request:
    branches:
    - "*"
jobs:
  build:
    name: Format
    runs-on: ubuntu-22.04
    steps:

    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Quay Dev Environment
      uses: ./.github/actions/setup-quay-dev
      with:
        sync-group: only-dev
        install-system-deps: 'false'

    - name: Check Formatting (Black)
      run: |
        uv run black --line-length=100 --target-version=py39 --check --diff .

    - name: Check Formatting (Flake8)
      run: |
        # The code-base needs to be cleaned up. There are too many Flake8
        # related warnings now. Ignore known problems to catch new ones.
        uv run flake8 --ignore=C901,E203,E262,E265,E266,E402,E501,E712,E713,E722,E731,E741,F401,F403,F405,F811,F821,F841,W503
        # Run full scan for visibility purposes.
        uv run flake8 --exit-zero

  pre-commit-checks:
    name: Pre-commit checks
    runs-on: ubuntu-22.04
    if: ${{ github.event_name == 'pull_request' }}
    steps:

    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0  # fetch all commits and branches for pre-commit

    - name: Setup Quay Dev Environment
      uses: ./.github/actions/setup-quay-dev
      with:
        sync-group: none
        install-system-deps: 'false'

    - name: Set up Node 18
      uses: actions/setup-node@v3
      with:
        node-version: 18
        cache: npm
        cache-dependency-path: web/package-lock.json

    - name: Install npm dependencies
      run: cd ./web && npm ci

    - name: Run pre-commit checks
      uses: pre-commit/action@v3.0.0
      with:
        extra_args: --from-ref origin/${{ github.base_ref }} --to-ref HEAD --verbose

  unit:
    name: Unit Test
    runs-on: ubuntu-22.04
    steps:

    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Quay Dev Environment
      uses: ./.github/actions/setup-quay-dev

    - name: Unit Tests
      run: |
        uv run pytest -m 'not e2e' --timeout=3600 -x --ignore=buildman/ --cov=./ --cov-report=xml

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        flags: unit

  types:
    name: Types Test
    runs-on: ubuntu-22.04
    steps:

    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Quay Dev Environment
      uses: ./.github/actions/setup-quay-dev

    - name: Check Types
      run: make types-test

  e2e:
    name: E2E Tests
    runs-on: ubuntu-22.04
    steps:

    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Quay Dev Environment
      uses: ./.github/actions/setup-quay-dev

    - name: E2E Tests
      run: |
        uv run pytest -m 'e2e' --timeout=3600 -x --ignore=buildman/

  registry:
    name: E2E Registry Tests
    runs-on: quay-001-large-ubuntu-24-x64
    steps:

    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Quay Dev Environment
      uses: ./.github/actions/setup-quay-dev

    - name: Registry Tests
      run: |
        uv run pytest -m 'not e2e' --timeout=3600 -x test/registry/registry_tests.py

  psql:
    name: E2E Postgres Test
    runs-on: ubuntu-22.04
    steps:

    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Quay Dev Environment
      uses: ./.github/actions/setup-quay-dev

    - name: Start Docker
      run: |
        sudo systemctl unmask docker
        sudo systemctl start docker
        docker version

    - name: Run PostgreSQL Tests
      run: |
        docker run --name postgres-ci \
          -e POSTGRES_PASSWORD=quay -e POSTGRES_USER=quay -e POSTGRES_DB=quay_ci \
          -p 5432:5432 -d postgres:12.1
        docker exec postgres-ci bash -c 'while ! pg_isready; do sleep 2; done'
        docker exec postgres-ci psql -U quay -d quay_ci -c 'CREATE EXTENSION IF NOT EXISTS pg_trgm;'
        TEST_DATABASE_URI=postgresql://quay:quay@localhost:5432/quay_ci \
          uv run alembic upgrade head
        TEST=true SKIP_DB_SCHEMA=true \
          TEST_DATABASE_URI=postgresql://quay:quay@localhost:5432/quay_ci \
          uv run pytest -m 'not e2e' -n auto --timeout=3600 -x --ignore=buildman/ -vv
        docker rm -f postgres-ci
