name: Common
on:
  push:
    branches:
    - "!dependabot/*"
    - "*"
  pull_request:
    branches:
    - "*"

jobs:
  build:
    name: Format
    runs-on: ubuntu-22.04
    steps:

    - name: Checkout
      uses: actions/checkout@v6

    - name: Set up Python 3.12
      uses: actions/setup-python@v6
      with:
        python-version: 3.12
        cache: 'pip'
        cache-dependency-path: |
          requirements.txt
          requirements-dev.txt

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install black==22.3.0
        pip install flake8

    - name: Check Formatting (Black)
      run: |
        black --line-length=100 --target-version=py39 --check --diff .

    - name: Check Formatting (Flake8)
      run: |
        # The code-base needs to be cleaned up. There are too many Flake8
        # related warnings now. Ignore known problems to catch new ones.
        flake8 --ignore=C901,E203,E262,E265,E266,E402,E501,E712,E713,E722,E731,E741,F401,F403,F405,F811,F821,F841,W503
        # Run full scan for visibility purposes.
        flake8 --exit-zero

    - name: Check Requirements are pinned
      run: |
        # Read each line of requirement.txt and flag if any line doesn't contain ==, @, newline, or #
        sed '/^$/d' < requirements.txt | while read i; do if [[ ! $i =~ [==|@|^#] ]]; then echo $i is not pinned; fi; done

  pre-commit-checks:
    name: Pre-commit checks
    runs-on: ubuntu-22.04
    if: ${{ github.event_name == 'pull_request' }}
    steps:

    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0  # fetch all commits and branches for pre-commit

    - name: Set up Python 3.12
      uses: actions/setup-python@v6
      with:
        python-version: 3.12

    - name: Set up Node 18
      uses: actions/setup-node@v6
      with:
        node-version: 18
        cache: npm
        cache-dependency-path: web/package-lock.json

    - name: Install npm dependencies
      run: cd ./web && npm ci

    - name: Run pre-commit checks
      uses: pre-commit/action@v3.0.1
      with:
        extra_args: --from-ref origin/${{ github.base_ref }} --to-ref HEAD --verbose

  all-green:
    name: All Green
    if: always()
    needs: [build, pre-commit-checks]
    runs-on: ubuntu-latest
    steps:
      - name: Check all jobs passed
        uses: re-actors/alls-green@release/v1
        with:
          allowed-skips: pre-commit-checks
          jobs: ${{ toJSON(needs) }}
